body {
    background-color: #c6d9db;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  form {
    background-color: #F8F0e3;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    /*margin-top: -370px;*/
    width: 400px;
  }

  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 510;
  }

  .form-group input {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  
  .buttons button {
    padding: 8px 20px;
    color: #F8F0e3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    position: relative;
    top: 2vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
        
}

.buttons button#login {
    background-color: #9aacb8;
    color: white;
    width: 20%;
  }

  .buttons button#register {
    background-color: #3c455c;
    color: white;
    width: 25%;
  }

  #title {
    position: absolute;
    top: 9vh;  
    text-align: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #3c455c
  }