<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domain Monitoring</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="title">
    <h1>Welcome To The domain Monitoring System</h1>
    </div>
    <form>        
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
      </div>
      <div class="buttons">
        <button type="submit" id="login">Login</button>
        <button type="button" id="register">Register</button>
      </form>
    <script src="script.js" defer></script>
</body>
</html>